.Card {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 1em 2em;
  box-shadow: 3px 3px 8px #eaeaea;
  transition: all 0.3s;
}

.Card.card-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.Card:hover {
  box-shadow: 5px 5px 10px #e0e0e0;
}

.Card .flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
