/* Reference: https://codepen.io/matt-daniel-brown/pen/bPBxEJ */

.Button {
  font-size: inherit;
  border: 0;
  background: #3542ff;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.Button:hover, .Button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #3542ff33;
}

.Button:active {
  transform: scale(0.9);
  background: #3542ff;
  box-shadow: 0 0 0 4px #3542ff33;
}

.Button.btn-normal {
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.Button.btn-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.Button.btn-inverted {
  background: transparent;
  color: #3542ff;
  border: 1px solid #3542ff;
}