.SpaceBetween.space-vertical > * {
  margin: 1em 0;
}

.SpaceBetween.space-vertical > *:first-child {
  margin-top: 0;
}

.SpaceBetween.space-vertical > *:last-child {
  margin-bottom: 0;
}

.SpaceBetween.space-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SpaceBetween.space-horizontal > * {
  margin: 0 1em;
}

.SpaceBetween.space-horizontal > *:first-child {
  margin-left: 0;
}

.SpaceBetween.space-horizontal > *:last-child {
  margin-right: 0;
}