/* Reference: https://codepen.io/maddesigns/pen/JGQejg */

.Section .users-list {
  list-style-type: none;
  counter-reset: li;
  padding-left: 0;
}

.Section .users-list > li {
  margin: 0.8rem 0;
}

.Section .users-list > li:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  color: #3542ff;
  margin-right: 0.8em;
  font-weight: bold;
}
